@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

@font-face {
    font-family: FuturaBold;
    src: url('../fonts/futura/Futura\ Bold\ font.ttf');
  }
  @font-face {
    font-family: Futura;
    src: url('../fonts/futura/Futura\ Light\ font.ttf');
  }
html,
body{
    background-color: rgb(236, 236, 236);
    height: 100vh;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.navbar-brand{
    width: 180px;
}
.ktts_logo{
    width: 180px !important;
}

.ktts_subbrand{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Futura', sans-serif;
}


header{
    height: 40%;
    background: linear-gradient(#000000a0,#00000050),url('../images/bg6.jpg');
    background-size: 100% 100%;
}

h1{
    font-family: FuturaBold;
    font-weight: lighter;
}

.navbar{
    margin-left: 144px !important;
}
.text-dark{
    color: black !important;
}
.btn-dark{
    background-color: black;
}

.nav-item {
    margin: 10px;
}

.bg-dark{
    background-color: #414141 !important;
}

.form-control{
    margin: 20px 0px;
}

.primary_btn{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    color: black !important;
    text-decoration: none;
    font-weight: bold;
    border-radius:0px !important;
}
.secondary_btn {
    color: black !important;
    padding: 10px 15px !important;
    border-radius: 5px;
    text-decoration: none;
    background-color: white;
}

/* Add the below transitions to allow a smooth color change similar to lyft */
.navbar {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
    margin: 0px;
    padding: 0px;
}

.ktts_logo{
    width: 180px !important;
}

.navbar.scrolled {
    background: #2e2e2e;
    /* IE */
    background: #2e2e2e;
    /* NON-IE */
}

.nav-item{
    margin: 0 10px;
    color: #fcca0a;
}
.nav-link{
    margin: 0 10px;
    color: #fcca0a;
}